<div class="home-navbar">


<header data-thq="thq-navbar" class="navbar-content">
  <span class="home-logo">MeGraduo</span>
  <div data-thq="thq-navbar-nav" data-role="Nav" class="home-desktop-menu">
    <nav data-thq="thq-navbar-nav-links" data-role="Nav" class="home-nav">
      <button class="home-button button-clean button">Ver Prácticas</button>
      <button class="home-button1 button-clean button">Ver Proyecto de grado</button>
      <button class="home-button2 button-clean button">Docentes</button>
      <button class="home-button3 button-clean button">Estudiantes</button>
      <button class="home-button4 button-clean button">Ayuda</button>
    </nav>
  </div>
  <div data-thq="thq-navbar-btn-group" class="home-btn-group">
    <button class="button" style="background-color: #70B620;">Gestionar Mis Proyectos</button>
  </div>
  <div data-thq="thq-burger-menu" class="home-burger-menu">
    <button class="button home-button5">
      <svg viewBox="0 0 1024 1024" class="home-icon">
        <path
          d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
        ></path>
      </svg>
    </button>
  </div>
  <div data-thq="thq-mobile-menu" class="home-mobile-menu">
    <div data-thq="thq-mobile-menu-nav" data-role="Nav" class="home-nav1">
      <div class="home-container1">
        <span class="home-logo1">Character</span>
        <div data-thq="thq-close-menu" class="home-menu-close">
          <svg viewBox="0 0 1024 1024" class="home-icon02">
            <path
              d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
            ></path>
          </svg>
        </div>
      </div>
      <nav
        data-thq="thq-mobile-menu-nav-links"
        data-role="Nav"
        class="home-nav2"
      >
      </nav>
      <div class="home-container2">
        <button class="home-login button">Login</button>
        <button class="button">Register</button>
      </div>
    </div>
    </div>
    