<app-header></app-header>
<div class="container ">
    <div class="row">
        <div class="col-lg-12 ">
            <h1 class="h1-text">{{tittle8}}</h1>
            <form [formGroup]="uploadForm" (ngSubmit)="uploadFormSave()">
                <div class="container pt-3 ps-5 pe-5 ">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-group">
                                <div class="form-floating d-flex">
                                    <div class="mb-3">
                                        <label for="formFileSm"
                                            class="form-label"><strong>Formato
                                                de Presentación Propuesta de
                                                Proyecto como alternativa de
                                                Trabajo de
                                                Grado</strong></label>

                                        <div class="form-group">
                                            <div
                                                class="form-floating d-flex flex-column">
                                                <div class="mb-3">
                                                    <label for="formFileSm"
                                                        class="form-label"><strong>Anexo
                                                            A :</strong></label>
                                                    <label>Anexe Aqui la carta
                                                        del director</label>
                                                    <input type="file"
                                                        class="form-control form-control-sm"
                                                        id="fileInputA"
                                                        formControlName="fileInputA"
                                                        accept=".pdf">
                                                </div>
                                            </div>
                                            <div id="response">{{
                                                responseMessage }}</div>
                                        </div>

                                        <div class="form-group">
                                            <div
                                                class="form-floating d-flex flex-column">
                                                <div class="mb-3">
                                                    <label for="formFileSm"
                                                        class="form-label"><strong>Anexo
                                                            B :</strong></label>
                                                    <label>Anexe Aqui Carta de
                                                        los estudiantes</label>
                                                    <input type="file"
                                                        class="form-control form-control-sm"
                                                        id="fileInputB"
                                                        formControlName="fileInputB"
                                                        accept=".pdf">
                                                </div>
                                            </div>
                                            <div id="response">{{
                                                responseMessage }}</div>
                                        </div>

                                        <div class="form-group">
                                            <div
                                                class="form-floating d-flex flex-column">
                                                <div class="mb-3">
                                                    <label for="formFileSm"
                                                        class="form-label"><strong>Anexo
                                                            C :</strong></label>
                                                    <label>Anexe Aqui Carta de
                                                        aval de entidad
                                                        responsable</label>
                                                    <input type="file"
                                                        class="form-control form-control-sm"
                                                        id="fileInputB"
                                                        formControlName="fileInputB"
                                                        accept=".pdf">
                                                </div>
                                            </div>
                                            <div id="response">{{
                                                responseMessage }}</div>
                                        </div>

                                        <div class="form-group">
                                            <div
                                                class="form-floating d-flex flex-column">
                                                <div class="mb-3">
                                                    <label for="formFileSm"
                                                        class="form-label"><strong>Anexo
                                                            D :</strong></label>
                                                    <label>Anexe Aqui la Carta
                                                        declaración
                                                        antifraude</label>
                                                    <input type="file"
                                                        class="form-control form-control-sm"
                                                        id="fileInputB"
                                                        formControlName="fileInputB"
                                                        accept=".pdf">
                                                </div>
                                            </div>
                                            <div id="response">{{
                                                responseMessage }}</div>
                                        </div>

                                        <div class="form-group">
                                            <div
                                                class="form-floating d-flex flex-column">
                                                <div class="mb-3">
                                                    <label for="formFileSm"
                                                        class="form-label"><strong>Anexo
                                                            E :</strong></label>
                                                    <label>Anexe Aqui la Carta
                                                        de derechos de
                                                        autor</label>
                                                    <input type="file"
                                                        class="form-control form-control-sm"
                                                        id="fileInputB"
                                                        formControlName="fileInputB"
                                                        accept=".pdf">
                                                </div>

                                            </div>
                                            <div id="response">{{
                                                responseMessage }}</div>
                                        </div>

                                        <div class="form-group">
                                            <div
                                                class="form-floating d-flex flex-column">
                                                <div class="mb-3">
                                                    <label for="formFileSm"
                                                        class="form-label"><strong>Anexo
                                                            F :</strong></label>
                                                    <label>Anexe Aqui la Carta
                                                        de compromiso de
                                                        realizar un artículo
                                                        científico</label>
                                                    <input type="file"
                                                        class="form-control form-control-sm"
                                                        id="fileInputB"
                                                        formControlName="fileInputB"
                                                        accept=".pdf">
                                                </div>

                                            </div>
                                            <div id="response">{{
                                                responseMessage }}</div>
                                        </div>

                                        <div class="form-group">
                                            <div
                                                class="form-floating d-flex flex-column">
                                                <div class="mb-3">
                                                    <label for="formFileSm"
                                                        class="form-label"><strong>Anexo
                                                            G :</strong></label>
                                                    <label>Anexe Aqui la Carta
                                                        de declaración de la
                                                        Universidad</label>
                                                    <input type="file"
                                                        class="form-control form-control-sm"
                                                        id="fileInputB"
                                                        formControlName="fileInputB"
                                                        accept=".pdf">
                                                </div>
                                            </div>
                                            <div id="response">{{
                                                responseMessage }}</div>
                                        </div>

                                        <div class="form-group">
                                            <div
                                                class="form-floating d-flex flex-column">
                                                <div class="mb-3">
                                                    <label for="formFileSm"
                                                        class="form-label"><strong>Anexo
                                                            H:</strong></label>
                                                    <label>Anexe Aqui la
                                                        Evidencias de la
                                                        recolección de la
                                                        información</label>
                                                    <input type="file"
                                                        class="form-control form-control-sm"
                                                        id="fileInputB"
                                                        formControlName="fileInputB"
                                                        accept=".pdf">
                                                </div>
                                            </div>
                                            <div id="response">{{
                                                responseMessage }}</div>
                                        </div>

                                        <div class="row mt-4">
                                            <div class="col-lg-12 ">
                                                <!--Next buttom-->
                                                <div
                                                    class="col-md-12  text-end pt-10">
                                                    <div
                                                        class="contact-form mt-55 " style="margin-right: -500px;">
                                                        <button type="submit"
                                                            class="btn btn-success btn-nextGroup  "
                                                            [disabled]="uploadForm.invalid">Confirmar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
