<div class="home-container">
  <app-navigation></app-navigation>
  <section class="home-hero">
    <div class="home-heading">
      <h1 class="home-header">
        <span class="home-text05">Bienvenido a</span>
        <br />
        <span>MeGraduo</span>
        <br />
      </h1>
      <p class="home-caption">
        Desarrollado por la Universidad Popular del Cesar
      </p>
    </div>
    <div class="home-buttons">
      <button style="background-color: #70B620;" class="button" (click)="goToLogin()">Iniciar Proceso</button>
      <button class="home-learn button-clean button">Mas información de modalidades</button>
    </div>
  </section>
    </div>